body {
  background-color: #034748;
  margin: 0px;
}

h1 {
  display: block;
  font-size: 2.5em;
  margin: 0px 20px 15px 0px;
}

h2 {
  color: #FFFFFA;
  display: block;
  margin-left: 30px;
  text-shadow: 2px 2px 2px #000103;
  width: 100%;
}

header {
  background-color: #000103;
  color: #FFFFFA;
  display: inline-block;
  font-family: 'baveuse';
  height: auto;
  margin: 0px;
  /*padding: 0 10px;*/
  width: 100%;
}
li {
  display: inline-block;
  font-size: 1.5em;
  margin: 20px 5px 0px;
}

nav{
  display: inline-block;
  margin: 0px auto;
}

p {
  margin: 5px 5px 0px 5px;
}

.header-contents {
  display: inline-block;
  margin: 0px 20px 10px 200px;
  text-align: center;
}

.site-name {
  display: inline-block;
  float: right;
  margin-right: 20px;
  text-align: right;
}

.icons {
  height: 19px;
  margin-right: 5px;
  width: 19px;
}

.iconic {
  height: 15px;
  width: 15px;
}

.share {
  height: 18px;
  width: 18px;
}

.admin {
  display: inline-block;
  height: 15px;
  margin: 15px 20px 15px 0px;
}
.cards-area {
  display: flex;
  flex-wrap: wrap;
  font-family: 'baveuse';
  margin: 20px 25px;
  max-width: 100%;
}

.photo {
  height: 209px;
  width: 241px;
}

.arrow {
  background-color: #000103;
  border: 0px solid #FFFFFA;
  border-radius: 50%;
  float: left;
  height: 30px;
  margin: 6px 0px 0px 6px;
  opacity: .5;
  width: 30px;
}

.views {
  color: #FFFFFA;
  float: right;
  margin-right: 10px;
  opacity: .5;
  text-shadow: 1px 1px 1px #000103;
}

.archer {
    background-image: url(assests/sterlingarcher.jpeg);
    background-size: cover;
}
.malory {
  background-image: url(assests/maloryarcher.jpg);
  background-size: cover;
}

.lana {
  background-image: url(assests/lanakane.jpg);
  background-size: cover;
}

.cyril {
  background-image: url(assests/cyrilfiggis.jpg);
  background-size: cover;
}

.pam {
  background-image: url(assests/pampoovey.jpg);
  background-size: cover;
}

.cheryl {
  background-image: url(assests/cheryltunt.jpg);
  background-size: cover;
}

.dr {
  background-image: url(assests/drkrieger.jpg);
  background-size: cover;
}

.woodhouse {
  background-image: url(assests/woodhouse.jpg);
  background-size: cover;
}

.cards {
  background-color: #FFFFFA;
  box-shadow: 5px 5px 5px #000103;
  height: auto;
  margin: 20px 5px;
  max-width: 241px;
  text-align: left;
}

.info {
  padding: 5px;
}

.links {
  background-color: #FFFC31;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  max-width: 241px;
}

/*Hover States*/

h2:hover {
  cursor: crosshair;
  transform: scale(1.05);
}

li:hover {
  color: #FD5200;
  cursor: crosshair;
  transform: scale(1.1);
}

.arrow:hover {
  cursor: crosshair;
  opacity: 1.0;
  transform: scale(1.1);
}

.cards:hover {
  box-shadow: 10px 10px 10px #000103;
  transform: scale(1.1);
}

.links:hover {
  cursor: crosshair;
  transform: scale(1.04);
}

.views:hover {
  /*color: #FFFFFA;*/
  cursor: crosshair;
  opacity: 1.0;
  transform: scale(1.1);
}

@media (max-width: 1069px) {
  .site-name{
    margin-right: 50px;
  }

  .cards-area{
    margin: 20px auto;
    max-width: 85%;
  }

  .cards{
    margin: 20px 20px;
  }
}


@media (max-width: 1006px) {
  header{
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  li {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  ul {
    max-width: 100%;
    padding: 0;
  }

  .header-contents{
    margin: 0 auto;
    text-align: center;
  }

  .site-name {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .cards-area{
    margin: 20px auto;
    max-width: 85%;
  }

  .cards{
    margin: 20px auto;
  }

}

@media (max-width: 864px) {
  h2 {
    text-align: center;
  }
}

@media (max-width: 850px) {
  h2 {
    text-align: center;
  }
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  ul {
    max-width: 100%;
    padding: 0;
  }

  .header-contents{
    margin: 0 auto;
    text-align: center;
  }

  .site-name {
    display: block;
    float: none;
    margin: 0px auto;
    text-align: center;
  }

  .cards-area{
    margin: 20px auto;
    max-width: 85%;
  }

  .cards{
    margin: 20px auto;
  }
}

@media (max-width: 606px) {

  header{
    font-size: .75em;
  }

  .cards-area{
    margin: 20px auto;
    max-width: 85%;
  }

  .cards{
    margin: 20px auto;
  }

}


@media (max-width: 325px) {

  h1 {
    font-size: 2em;
  }

  header{
  width: 100%;
  }

  li {
    font-size: 1em;
    text-align: center;
  }

  nav {
    margin: 0 auto;
  }

  .cards-area {
    margin: 40px auto;
    width: 80%;
  }

  .cards {
    margin: 20px auto;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }

  .icons {
    height: 9px;
    width: 9px;
    margin-right: 2px;
  }

  .share {
    height: 8px;
    width: 8px;
  }
}
